@import './ui/images.css' ;
@import 'https://fonts.googleapis.com/css2?family=Shrikhand&display=swap';

:root {
font-size: 16px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  outline: none;
  font-size: 16px;
}
  body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #FFFFFF;
  }

  .script-font {
    font-family: 'Shrikhand', cursive;
    font-size: 32px;
  }

  .hidden {
    height: 0px;
    visibility: hidden;
  }

  .visible {
    height: 100%;
  }

  a {
    text-decoration: none;
    color: black;
    display: block;
  }
